/* 响应式布局 */
@media screen and (min-width:1000px) {
    .downfx {
        width: 1000px;
    }
    .header-down {
        width: 1000px;
    }
    .footer {
        width: 1000px;
    }

    .ins-background {
        width: 1000px;

    }
}

@media (any-hover: hover){

}