/* 响应式布局 */
@media screen and (min-width:1000px) {
    .downfx {
        width: 1000px;
    }
    .header-down {
        width: 1000px;
    }
    .footer {
        width: 1000px;
    }

    .ins-background {
        width: 1000px;

    }
}

@media (any-hover: hover){
    .header-fx:hover{
        opacity: 1;
        text-shadow: 0px 0px 2px rgb(233, 233, 233);
        transition: all 0.3s ease-in-out;
    }
}